node_modules
# Keep environment variables out of version control
.env

/generated/prisma

server.js
.idea


# logs folder
logs/
logs/*.log


coverage
reports
config/certs
config/certificates

prisma/dbml/
prisma/migrations/
signer_cert.p12.base64.txt
temp/
